@font-face {
    font-family: OpenSansBold;
    src: url(OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSans;
    src: url(OpenSans-Regular.ttf);
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #8EDFB2;
    background-image: url("pattern.png");
}
#site-container {
    margin: auto;
    width: 768px;
    min-height: 100%;
    height: auto;
    background-color: white;
    box-shadow: 0 2px 10px 2px rgba(50, 50, 50, 0.67);
    font-family: OpenSans;
}
header {
    width: 100%;
    height: 150px;
    overflow: hidden;
    margin: 0;
}
#header-logo {
    height: 120px;
    width: 120px;
    margin: 20px;
}
#name-slogan {
    width: 550px;
    height: 150px;
}
#main-menu {
    box-shadow: 0 1px 13px 0 rgba(100, 100, 100, 0.25);
    background-color: #B0E2BC;
    width: auto;
}
#main-menu ul {
    padding: 0;
    border: 0;
    display: block;
    list-style: none;
    text-align: center;
}
#main-menu ul:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}
#main-menu ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
}
#main-menu ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 12px 30px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    font-family: OpenSansBold, sans-serif;
    position: relative;
    transition: color 0.25s;
}
#main-menu ul li a:hover {
    color: #333333;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

#main-menu ul li:before {
    content: "";
    display: block;
    position: relative;
    left: 0;
    top: 49px;
    height: 3px;
    width: 0%;
    background-color: #333333;
    transition: width .25s;
}
#main-menu ul li:hover:before {
    width: 100%;
}
#main-menu .active-link:before {
    width: 100%;
}
#main-menu .active-link a {
    color: #333333;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}