@font-face {
    font-family: OpenSansBold;
    src: url('../fonts/OpenSans-Bold.ttf');
}
@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans-Regular.ttf');
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #8EDFB2;
    background-image: url('../images/pattern.png');
    font-family: OpenSans, sans-serif;
}
a {
    text-decoration: none;
}
a:visited {
    color: blue;
}
#site-container {
    margin: auto;
    width: 768px;
    min-height: calc(100% - 66px);
    height: auto;
    background-color: white;
    box-shadow: 0 2px 10px 2px rgba(50, 50, 50, 0.67);
    padding-bottom: 0;
}
header {
    width: 100%;
    height: 150px;
    overflow: hidden;
    margin: 0;
}
#header-logo {
    height: 120px;
    width: 120px;
    margin: 20px;
}
#name-slogan {
    width: 550px;
    height: 150px;
}

#main-menu {
    box-shadow: 0 1px 13px 0 rgba(100, 100, 100, 0.25);
    background-color: #B0E2BC;
    width: auto;
    position: relative;
}
#main-menu ul {
    padding: 0;
    border: 0;
    display: block;
    list-style: none;
    text-align: center;
}
/*hides the sub-menus*/
#main-menu ul ul {
    display: none;
}
/*displays the sub-menus upon pointer hover*/
#main-menu ul li:hover > ul {
    display: block;
    background-color: lightgray;
}
/*makes the menu horizontal*/
#main-menu ul li{
    float: left;
}
/*position of the sub-menus*/
#main-menu ul  ul {
    position: absolute; left: 0;top:100%;
}
#main-menu ul ul ul {
    position: absolute; left: 100%; top:0;
}
#main-menu ul:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}
#main-menu ul li {
    float: left;
    padding: 0;
    margin: 0;
}
#main-menu ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 12px 30px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    font-family: OpenSansBold, sans-serif;
    position: relative;
    transition: color 0.25s;
}
#main-menu ul li a:hover {
    color: #333333;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

#main-menu ul li:before {
    content: "";
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background-color: black;
    transition: width .22s;
}
#main-menu ul li:hover:before {
    width: 100%;
}
#main-menu .active-link:before {
    width: 100%;
}
#main-menu .active-link a {
    color: #333333;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
#main-menu, #main-menu ul, #main-menu ul li, #main-menu ul li a  {
    border: none;
    list-style: none outside none;
    position: relative;
}
#site-footer {
    width: 768px;
    height: 50px;
    margin-top: -60px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 60px;
    background-color: #333333;
    box-shadow: 0 2px 10px 2px rgba(50, 50, 50, 0.67);
}
#site-footer p {
    color: white;
    text-align: center;
    padding-top: 15px;
}
#welcome-section {
    width: auto;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
}
#welcome-section h1 {
    text-align: center;
}
#partnership {
    height: 61px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: 0 2px 10px 2px rgba(50, 50, 50, 0.2);
}
#welcome-song {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 350px;
    display: block;
    box-shadow: 0 2px 10px 2px rgba(50, 50, 50, 0.2);
}
#container-bottom-padding {
    height: 25px;
}
/*arrows that indicate a sub-menu. They are rotated according to the positioning of the sub-menu*/
#main-menu > ul > li.has-sub >a, #main-menu >ul > li.has-sub >ul > li.has-sub > a  {
    padding-right: 25px;
}
#main-menu > ul > li.has-sub > a:after {
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    content: "";
    height: 4px;
    position: absolute;
    right: 10px;
    top: 21px;
    transform: rotate(45deg);
    width: 4px;
}
#main-menu >ul > li.has-sub >ul > li.has-sub > a:after {
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
    content: "";
    height: 4px;
    position: absolute;
    right: 10px;
    top: 21px;
    transform: rotate(315deg);
    width: 4px;
}